<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/_header :: head(pageTitle = 'Step Three: Defend Your Property')">
</head>
<body>
<div th:insert="fragments/_header :: header"></div>


<h1>Step Three: Defending Yourself From Hostile Wildlife. </h1>

<p>In the process of removing your tire, you might inadvertently and at no fault of your own, attract undue attention.
This attention might come in different forms, for our North American audiences this might mean a visit from a brown or black bear,
    or the odd cougar or mountain lion. In more urban environments, you might be beset upon by wild dogs or the odd coyote.
</p>

<img src="https://dyn1.heritagestatic.com/lf?set=path%5B1%2F5%2F3%2F0%2F6%2F15306095%5D%2Csizedata%5B850x600%5D&call=url%5Bfile%3Aproduct.chain%5D">
<p style="font-size: small"> <span style="font-style: italic">"Night of the Grizzlies"</span>, by Mort Kunstler :: Thanks to Heritage Auctions, HA.com
<br> <a href="https://fineart.ha.com/itm/paintings/mort-kunstler-american-b-1931-night-of-the-grizzlies-for-men-only-magazine-march-1970gouache-on-board17-x/a/5291-71003.s">Image Source</a>
</p>

<p>To minimize the chance of drawing the attention of these predators, one must remember that changing tires must be done swiftly and properly.
    Failure to do so can result in further damage to your vehicle, which might even include a collision or another tire needing replacement.
    Recall that bears, of all creatures, are extremely patient and will wait for the best opportunity to strike.
</p>

<div th:insert="fragments/_footer :: footer"></div>
</body>
</html>